@charset "UTF-8";
/*=======================
      NAVBAR
=======================*/
.navbar {
  grid-area: n;
  display: flex;
  background-color: #301A4B;
  padding-right: 1rem;
  align-items: center; }
  .navbar__logo {
    max-width: 10%;
    min-width: 8rem;
    padding: 0 .8rem; }
  .navbar__lista {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end; }
  .navbar__link {
    display: flex;
    text-decoration: none;
    color: #F3E8EE;
    font-size: 1rem;
    margin-right: 3rem;
    margin-top: .3rem; }
    .navbar__link:hover {
      transition: ease-in-out 200ms;
      border-bottom: solid #47caca;
      color: sandybrown;
      transform: scale(1.2); }

/*=======================
      GRIDS
=======================*/
.grid1 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4.5rem 95vh 6fr 0.5fr;
  grid-template-areas: "n n n n n n n n n n n n" "h h h h h h h h h h h h" "c c c c i i i i i i i i" "f f f f f f f f f f f f"; }

.grid2 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 4.5rem 95vh 4fr 0.5fr;
  grid-template-areas: "n n n n n n" "h h h h h h" "c c c c c c" "f f f f f f"; }

/*=======================
    TIPOGRAFIAS
=======================*/
h1, h2 {
  font-weight: 600; }

h1 {
  font-size: 3.5em;
  letter-spacing: 2px;
  text-align: center; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.5rem; }

.subtitle {
  display: flex;
  width: 70%;
  margin: -2% auto;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #F3E8EE; }

/*=======================
          GLOBAL
  =======================*/
html {
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; }

/*=======================
    SELECTORES
=======================*/
img {
  display: flex;
  width: 100%; }

/* Se agrega un gradiente a la tabla de servicios*/
table {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3%;
  color: #c3d8f3;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #197697 71%, #1091ac 100%); }

footer {
  grid-area: f;
  display: flex;
  border: solid 3px black;
  background-color: black;
  color: white;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
  padding-left: 3rem; }

/*=======================
      CLASES
=======================*/
.error {
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center; }
  .error img {
    width: 60%; }
  .error p {
    display: flex;
    justify-content: center;
    width: 70%; }

.articulo {
  margin-left: 15%;
  text-align: start; }
  .articulo__titulo {
    font-style: italic; }
  .articulo__contenido {
    font-size: 1.2em; }

/* SE CREA UN LOOP DE EACH PARA GENERAR LOS ESTILOS DE LAS SECCIONES "HERO" EN TODAS LAS PAGINAS.*/
/* Se define la lista de nombres*/
.hero1 {
  /*Se asignan las propiedades css a reproducir para cada elemento en la lista*/
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  color: #F3E8EE;
  background-size: cover;
  background-image: url("../img/hero1.jpg");
  /*Se renombraron las imagenes para que pueda manipularlas con el nombre de la variable*/ }
  .hero1__titulo {
    /*Se aplica nesting y BEM para generar las subclases*/
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: .3rem; }
  .hero1__subtitulo {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;
    font-size: 1.5rem;
    font-style: italic; }

.hero2 {
  /*Se asignan las propiedades css a reproducir para cada elemento en la lista*/
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  color: #F3E8EE;
  background-size: cover;
  background-image: url("../img/hero2.jpg");
  /*Se renombraron las imagenes para que pueda manipularlas con el nombre de la variable*/ }
  .hero2__titulo {
    /*Se aplica nesting y BEM para generar las subclases*/
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: .3rem; }
  .hero2__subtitulo {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;
    font-size: 1.5rem;
    font-style: italic; }

.hero3 {
  /*Se asignan las propiedades css a reproducir para cada elemento en la lista*/
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  color: #F3E8EE;
  background-size: cover;
  background-image: url("../img/hero3.jpg");
  /*Se renombraron las imagenes para que pueda manipularlas con el nombre de la variable*/ }
  .hero3__titulo {
    /*Se aplica nesting y BEM para generar las subclases*/
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: .3rem; }
  .hero3__subtitulo {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;
    font-size: 1.5rem;
    font-style: italic; }

.hero4 {
  /*Se asignan las propiedades css a reproducir para cada elemento en la lista*/
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  color: #F3E8EE;
  background-size: cover;
  background-image: url("../img/hero4.jpg");
  /*Se renombraron las imagenes para que pueda manipularlas con el nombre de la variable*/ }
  .hero4__titulo {
    /*Se aplica nesting y BEM para generar las subclases*/
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: .3rem; }
  .hero4__subtitulo {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;
    font-size: 1.5rem;
    font-style: italic; }

.hero5 {
  /*Se asignan las propiedades css a reproducir para cada elemento en la lista*/
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  color: #F3E8EE;
  background-size: cover;
  background-image: url("../img/hero5.jpg");
  /*Se renombraron las imagenes para que pueda manipularlas con el nombre de la variable*/ }
  .hero5__titulo {
    /*Se aplica nesting y BEM para generar las subclases*/
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: .3rem; }
  .hero5__subtitulo {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;
    font-size: 1.5rem;
    font-style: italic; }

.content {
  grid-area: c;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  color: #F3E8EE;
  background-color: #103b4b;
  align-items: center;
  justify-content: center; }
  .content__clientes {
    height: 25em;
    padding: 2.5rem 0 1.5rem 0;
    justify-content: space-between; }
    .content__clientes li a {
      text-decoration: none;
      color: #F3E8EE; }

.contacto {
  grid-area: c;
  display: flex;
  margin: 3rem auto;
  width: 100%;
  justify-content: center; }
  .contacto__form {
    display: flex;
    max-width: 70%; }

.columnas {
  grid-area: c;
  display: flex;
  flex-direction: column; }

.col1 {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  text-align: start;
  color: #F3E8EE;
  background-color: #103b4b; }

.col2 {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  text-align: start;
  color: #F3E8EE;
  background-color: #22728f; }

.img {
  grid-area: i;
  width: auto;
  display: flex;
  padding: 10% 10% 10% 5%;
  background-color: #103b4b; }

/*=======================
       IDs
=======================*/
#boton a {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  /*se define que justifique en el centro el contenido de la caja*/
  align-items: center;
  /*se define la alineación del contenido al centro de la caja*/
  height: 40px;
  width: 200px;
  margin: 15%;
  color: #103b4b;
  border-top: solid 5px;
  border-right: solid 5px;
  border-bottom: solid 5px;
  border-left: solid 5px;
  border-color: #103b4b;
  background-color: #5BC0BE; }

#tabla {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100vw; }

/*=======================
   MEDIA QUERIES
=======================*/
@media only screen and (max-width: 960px) {
  .grid1, .grid2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.3fr 100vh 3fr 3fr 0.5fr;
    grid-template-areas: "n n n n n n" "h h h h h h" "c c c c c c" "i i i i i i" "f f f f f f"; } }

@media only screen and (max-width: 960px) and (max-width: 400px) {
  .grid1, .grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax 400px, 1fr);
    grid-template-rows: repeat(auto-fit, minmax 400px, 1fr); }
  nav ul {
    align-items: center;
    justify-items: center; }
  body {
    font-size: 10px; } }
